<app-navbar></app-navbar>
<br>

<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">BLOOD GROUP</label>
                    <select id="" class="form-control" name="bloodGroup" [(ngModel)]="bloodGroup">
                        <option value="A+ve">A+ve</option>
                        <option value="B+ve">B+ve</option>
                        <option value="O+ve">O+ve</option>
                </select>

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="searchValues()">SEARCH</button>
                </div>
            </div>
        </div>
    </div>
</div>
